html,
body {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #530002;
}
a:hover {
  color: #950004;
}
header {
  background: #9baad1;
  border-bottom: 2px solid #555;
}
header ul {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header li {
  background: linear-gradient(to right, transparent 0%, #e3eafd 0.5rem, #e3eafd calc(100% - 0.5rem), transparent 100%);
  flex: 0 1 auto;
  line-height: 1.5;
  font-size: 0.81rem;
  padding: 0 1rem;
}
header a {
  color: #002f06;
  font-weight: bold;
}
header li.highlighted-item a {
  color: #fd0015;
}
.simple-heading {
  margin-bottom: 1rem;
  white-space: nowrap;
}
#logo-panel {
  background: #6f96d1;
  min-height: 4rem;
}
/**
 * General
 */
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-indent {
  padding: 0;
  margin: 0;
}
/**
 * Top panel
 */
.top-panel {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-bottom: 0.2rem;
}
.top-panel .top-panel-left {
  flex: 0 0 auto;
  background: #becfeb;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
  width: 15rem;
}
.top-panel .top-panel-right {
  flex: 1 1 auto;
  padding: 0.5rem;
  background: #e8edf1;
}
/**
 * Login form
 */
.login-form {
  padding: 0;
  margin: 0;
}
.login-form .form-group {
  margin-bottom: 0.1rem;
}
.login-form label[class*="col-"] {
  text-align: right;
  font-size: 0.9rem;
  padding-right: 0.3rem !important;
}
/**
 * Content
 */
.content {
  display: flex;
}
.content .content-left {
  background: #e8edf1;
  border-top-left-radius: 1rem;
  flex: 0 0 auto;
  width: 15rem;
  padding: 1rem;
}
.content .content-right {
  flex: 1 1 auto;
  padding: 1rem 3rem 5rem 3rem;
}
.content .content-single {
  flex: 1 1 auto;
  padding: 0rem 0.3rem;
}
/**
 * Action panel
 */
.action-panel {
  background: linear-gradient(to bottom, #9baad1 0%, #becfeb 0.5rem, #becfeb calc(100% - 0.5rem), #9baad1 100%);
}
.action-panel ul {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}
.action-panel li {
  flex: 0 1 auto;
  line-height: 1.5;
  font-size: 0.81rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.action-panel a {
  color: #002f06;
  font-weight: bold;
}
.lapiduch-panel {
  margin-bottom: 0.2rem;
}
/**
 * Categories list
 */
.categories-list .simple-heading {
  text-align: center;
}
.categories-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}
.categories-list li {
  line-height: 1.4;
  font-size: 0.875rem;
  padding: 0;
}
.categories-list a {
  color: #002f06;
}
.categories-list .cat-amount {
  font-size: 0.625rem;
}
/**
 * Categories table
 */
.categories-table {
  width: 35rem;
  margin: 0 auto;
}
.categories-table td,
.categories-table th {
  line-height: 1.2;
}
/**
 * Top clubs
 */
.top-clubs li {
  margin-bottom: 1rem;
  white-space: nowrap;
}
.top-clubs a {
  font-size: 1rem;
}
.top-clubs .top-info {
  color: #364035;
  font-size: 0.75rem;
}
.top-clubs .top-link-all {
  padding: 1rem 0;
}
/**
 * Sign up
 */
.signup-form {
  width: 30rem;
}
/**
 * HEADERS
 */
.all-header {
  background: #f4f4f4;
  padding-left: 0.438rem;
  color: #a5a5a5;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
  border-top: solid 2px #e0e0e0;
  border-bottom: solid 2px #e0e0e0;
  margin-top: 1rem;
}
.search-form-header {
  color: #a5a5a5;
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1;
  border-bottom: solid 2px #e0e0e0;
  margin-top: 1.5rem;
}
.clubs-header {
  font-size: 1rem;
  font-weight: bold;
  color: #006;
  background: #e3e3fb;
  line-height: 1.1;
  padding: 0.125rem 0 0 1.12rem;
  border-bottom: solid 3px #a3a3a3;
  margin-top: 1.2rem;
}
/**
 * Clubs table
 */
.clubs-table {
  font-size: 0.8125rem;
  padding-right: 2rem;
}
.clubs-table .table-sm td,
.clubs-table .table-sm th {
  padding: 0.2rem 0.3rem;
}
.clubs-table td,
.clubs-table th {
  line-height: normal;
}
.clubs-table a {
  font-weight: bold;
}
.clubs-table .posts-amount {
  text-align: right;
}
/**
 * New Post form
 */
.new-post-form,
.new-mail-form {
  max-width: 40rem;
}
/**
 * Posts list
 */
.posts-list .post-item {
  margin: 0;
  border-top: 2px solid #a5adc6;
  display: flex;
}
.posts-list .post-left {
  flex: 0 0 4rem;
  max-width: 4rem;
  background: #ffe7ff;
  text-align: center;
  padding: 0.4rem 0.2rem;
}
.posts-list .post-right {
  flex: 1 1 auto;
}
.posts-list .post-header {
  padding: 0.1rem 1rem;
  background: #e7eff7;
}
.posts-list .post-username {
  color: #5a5a5a;
  font-size: 1.12rem;
  font-weight: bold;
}
.posts-list .post-motto {
  font-style: italic;
  color: #313131;
  font-size: 0.8rem;
}
.posts-list .post-date {
  color: #313131;
  font-size: 0.8rem;
}
.posts-list .post-new {
  color: #842163;
  font-size: 0.8rem;
}
.posts-list .post-id {
  color: #a5adc6;
  font-size: 0.8rem;
}
.posts-list .post-main {
  padding: 0.3rem 1rem 1.5rem 1rem;
  font-size: 1.09rem;
}
.posts-list .post-title {
  min-height: 1.4rem;
  font-weight: bold;
  color: #006400;
  padding-bottom: 0.3rem;
}
/**
 * Club panel
 */
.club-panel {
  margin-bottom: 0.2rem;
}
/**
 * Club forms
 */
.club-forms {
  display: flex;
  background: #e8edf1;
  padding: 0.5rem 0.3rem;
  margin-bottom: 1rem;
  border-radius: 1rem;
}
.club-forms .club-forms-left {
  flex: 0 0 14rem;
  max-width: 14rem;
}
.club-forms .club-forms-right {
  flex: 1 1 auto;
}
/**
 * search-post-form
 */
.search-post-form {
  width: 100%;
}
/**
 * Activity
 */
.activity-list {
  border-top: 1px solid #e9e9e9;
  margin-top: 1rem;
}
.activity-item {
  border-bottom: 1px solid #e9e9e9;
  display: flex;
  align-items: center;
}
.activity-item .activity-left {
  flex: 0 0 auto;
}
.activity-item .activity-mid {
  font-weight: bold;
  padding: 0 1rem;
  flex: 1 1 auto;
}
.activity-item .activity-right {
  padding: 0 1rem;
  flex: 0 0 auto;
}
