html,
body {
  font-size: 100%;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: #530002;
}
header {
  background: #9baad1;
  border-bottom: 2px solid #555;
}
header ul {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header li {
  background: linear-gradient(to right, transparent 0%, #e3eafd 0.5rem, #e3eafd calc(100% - 0.5rem), transparent 100%);
  flex: 0 1 auto;
  line-height: 1.5;
  font-size: 0.81rem;
  padding: 0 1rem;
}
header a {
  color: #002f06;
  font-weight: bold;
}
header li:first-of-type a {
  color: #fd0015;
}
#logo-panel {
  background: #6f96d1;
  min-height: 4rem;
}
/**
 * General
 */
.row-no-padding > [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/**
 * Top panel
 */
.top-panel {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  margin-bottom: 0.2rem;
}
.top-panel .top-panel-left {
  flex: 0 0 auto;
  background: #becfeb;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
  width: 15rem;
}
.top-panel .top-panel-right {
  flex: 1 1 auto;
  padding: 0.5rem;
  background: #e8edf1;
}
/**
 * Login form
 */
.login-form {
  padding: 0;
  margin: 0;
}
.login-form .form-group {
  margin-bottom: 0.1rem;
}
.login-form label[class*="col-"] {
  text-align: right;
  font-size: 0.9rem;
  padding-right: 0.3rem !important;
}
/**
 * Action panel
 */
.action-panel {
  background: linear-gradient(to bottom, #9baad1 0%, #becfeb 0.5rem, #becfeb calc(100% - 0.5rem), #9baad1 100%);
  margin-bottom: 0.2rem;
}
.action-panel ul {
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  justify-content: space-around;
}
.action-panel li {
  flex: 0 1 auto;
  line-height: 1.5;
  font-size: 0.81rem;
  padding: 0 1rem;
  white-space: nowrap;
}
.action-panel a {
  color: #002f06;
  font-weight: bold;
}
/**
 * Content
 */
.simple-heading {
  margin-bottom: 1rem;
  white-space: nowrap;
}
.content {
  display: flex;
}
.content .content-left {
  background: #e8edf1;
  border-top-left-radius: 1rem;
  flex: 0 0 auto;
  min-height: 100%;
  width: 15rem;
  padding: 1rem;
}
.content .content-right {
  flex: 1 1 auto;
  min-height: 100%;
  padding: 1rem 3rem 5rem 3rem;
}
/**
 * Categories list
 */
.categories-list .simple-heading {
  text-align: center;
}
.categories-list ul {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-around;
}
.categories-list li {
  line-height: 1.4;
  font-size: 0.875rem;
  padding: 0;
}
.categories-list a {
  color: #002f06;
}
.categories-list .cat-amount {
  font-size: 0.625rem;
}
/**
 * Top clubs
 */
.top-clubs li {
  margin-bottom: 1rem;
  white-space: nowrap;
}
.top-clubs a {
  font-size: 1rem;
}
.top-clubs .top-info {
  color: #364035;
  font-size: 0.75rem;
}
.top-clubs .top-link-all {
  padding: 1rem 0;
}
