html, body
	font-size: 100%
	
body
	padding: 0
	margin: 0
	font-family: Arial, Helvetica, sans-serif

a
	text-decoration: none
	color: #530002;
	
a:hover
	color: #950004

header
	background: rgb(155, 170, 209)
	border-bottom: 2px solid #555
	ul
		margin: 0
		padding: 0 2rem
		display: flex
		list-style: none
		justify-content: space-around
	li
		background: linear-gradient(to right, transparent 0%, rgb(227, 234, 253) 0.5rem, rgb(227, 234, 253) calc(100% - 0.5rem), transparent 100%)
		flex: 0 1 auto
		line-height: 1.5
		font-size: 0.81rem
		padding: 0 1rem
	a
		color: rgb(0, 47, 6)
		font-weight: bold
	
	li.highlighted-item a
		color: rgb(253, 0, 21)
		
.simple-heading
	margin-bottom: 1rem
	white-space: nowrap
		
#logo-panel
	background: rgb(111, 150, 209)
	min-height: 4rem
	
/**
 * General
 */
.row-no-padding > [class*="col-"]
	padding-left: 0 !important
	padding-right: 0 !important
	
.no-indent
	padding: 0
	margin: 0

.input-group-addon
	min-width: 2rem
	
.fa-intersex
	font-weight: bold
	
.fixed-flex
	flex: 0 0 auto
	
.dynamic-flex
	flex: 1 1 auto


/**
 * Top panel
 */
.top-panel
	display: flex
	flex-flow: row nowrap
	align-items: stretch
	margin-bottom: 0.2rem

	.top-panel-left
		flex: 0 0 auto
		background: rgb(190, 207, 235)
		border-bottom-left-radius: 1rem
		padding: 0.5rem
		width: 15rem
		
	.top-panel-right
		flex: 1 1 auto
		padding: 0.5rem
		background: rgb(232, 237, 241)
			
/**
 * Login form
 */
.login-form
	padding: 0
	margin: 0
	
	.form-group
		margin-bottom: 0.1rem
		
	label[class*="col-"]
		text-align: right
		font-size: 0.9rem
		padding-right: 0.3rem !important
		
/**
 * Content
 */
.content
	display: flex
	
	.content-left
		background: rgb(232, 237, 241)
		border-top-left-radius: 1rem
		flex: 0 0 auto
		width: 15rem
		padding: 1rem
		
	.content-right
		flex: 1 1 auto
		padding: 1rem 3rem 5rem 3rem
		
	.content-single
		flex: 1 1 auto
		padding: 0rem 0.3rem
		

/**
 * Action panel
 */
.action-panel
	background: linear-gradient(to bottom, rgb(155, 170, 209) 0%, rgb(190, 207, 235) 0.5rem, rgb(190, 207, 235) calc(100% - 0.5rem), rgb(155, 170, 209) 100%)
	
	ul
		margin: 0
		padding: 0 2rem
		display: flex
		flex-flow: row wrap
		list-style: none
		justify-content: space-around
	li
		flex: 0 1 auto
		line-height: 1.5
		font-size: 0.81rem
		padding: 0 1rem
		white-space: nowrap
	a
		color: rgb(0, 47, 6)
		font-weight: bold
		
.lapiduch-panel
	margin-bottom: 0.2rem
			
/**
 * Categories list
 */
.categories-list
	.simple-heading
		text-align: center
		
	ul
		margin: 0
		padding: 0
		list-style: none
		justify-content: space-around
	li
		line-height: 1.4
		font-size: 0.875rem
		padding: 0
	a
		color: rgb(0, 47, 6)

	.cat-amount
		font-size: 0.625rem
		
/**
 * Categories table
 */
.categories-table
	width: 35rem
	margin: 0 auto
	td, th
		line-height: 1.2
		
/**
 * Top clubs
 */
.top-clubs
	li
		margin-bottom: 1rem
		white-space: nowrap

	a
		font-size: 1rem

	.top-info
		color: #364035
		font-size: 0.75rem

	.top-link-all
		padding: 1rem 0
		
/**
 * Sign up
 */
.signup-form
	width: 30rem
	

/**
 * HEADERS
 */
.all-header {
	background: rgb(244, 244, 244)
	padding-left: 0.438rem
	color: #A5A5A5;
	font-weight: bold;
	font-size: 1.1rem;
	line-height: 1;
	border-top: solid 2px rgb(224, 224, 224)
	border-bottom: solid 2px rgb(224, 224, 224)
	margin-top: 1rem
}
.search-form-header {
	color: #A5A5A5;
	font-weight: bold;
	font-size: 1.1rem;
	line-height: 1;
	border-bottom: solid 2px rgb(224, 224, 224)
	margin-top: 1.5rem
}
.clubs-header {
	font-size: 1rem;
	font-weight: bold;
	color: #000066;
	background: #e3e3fb;
	line-height: 1.1;
	padding: 0.125rem 0 0 1.12rem;
	border-bottom: solid 3px #a3a3a3;
	margin-top: 1.2rem
}

/**
 * Clubs table
 */
.clubs-table
	font-size: 0.8125rem
	padding-right: 2rem
	
	.table-sm td, .table-sm th
		padding: .2rem .3rem
		
	td, th
		line-height: normal
		
	a
		font-weight: bold
	
	.posts-amount
		text-align: right
		
/**
 * New Post form
 */
.new-post-form
.new-mail-form
	max-width: 40rem
	
/**
 * Posts list
 */
.posts-list
	.post-item
		margin: 0
		border-top: 2px solid rgb(165, 173, 198)
		display: flex
		
	.post-left
		flex: 0 0 4rem
		max-width: 4rem
		background: rgb(255, 231, 255)
		text-align: center
		padding: 0.4rem 0.2rem
		
	.post-right
		flex: 1 1 auto
		
	.post-header
		padding: 0rem 1rem
		background: rgb(231, 239, 247)
		display: flex
		align-items: baseline
		
	.post-username
		color: rgb(90, 90, 90)
		font-size: 1.12rem
		font-weight: bold
		
	.post-motto
		font-style: italic
		color: rgb(49, 49, 49)
		font-size: 0.8rem
		margin-left: 0.4rem
		
	.post-date
		color: rgb(49, 49, 49)
		font-size: 0.8rem
		margin-left: 0.4rem
		
	.post-new
		color: rgb(132, 33, 99)
		font-size: 0.8rem
		margin-left: 0.4rem
		
	.post-id
		color: rgb(165, 173, 198)
		align-self: center
		font-size: 0.8rem
		
	.post-remove
		margin-left: 0.4rem
		align-self: baseline
		
	.post-main
		padding: 0.3rem 1rem 1.5rem 1rem
		font-size: 1.09rem
		
	.post-title
		min-height: 1.4rem
		font-weight: bold
		color: darkgreen
		padding-bottom: 0.3rem
		

/**
 * Club panel
 */
.club-panel
	margin-bottom: 0.2rem

/**
 * Club forms
 */
.club-forms
	display: flex
	background: #e8edf1
	padding: 0.5rem 0.3rem
	margin-top: 0.2rem
	border-radius: 1rem

	.club-forms-left
		flex: 0 0 14rem
		max-width: 14rem
		
	.club-forms-right
		flex: 1 1 auto

/**
 * search-post-form
 */
.search-post-form
	width: 100%
	
/**
 * Activity
 */
.activity-list
	border-top: 1px solid #e9e9e9
	margin-top: 1rem
	
.activity-item
	border-bottom: 1px solid #e9e9e9
	display: flex
	align-items: center

	.activity-left
		flex: 0 0 auto
		
	.activity-mid
		font-weight: bold
		padding: 0 1rem
		flex: 1 1 auto
		
	.activity-right
		padding: 0 1rem
		flex: 0 0 auto
		
/**
 * Pagination
 */
.post-pagination
	margin-top: 1rem
	
/**
 * Mail
 */
.avatar-greyed
	opacity: 0.5