html, body
	font-size: 100%
	
body
	padding: 0
	margin: 0
	font-family: Arial, Helvetica, sans-serif

a
	text-decoration: none
	color: #530002;
	
a:hover
	color: #950004

header
	background: rgb(155, 170, 209)
	border-bottom: 2px solid #555
	ul
		margin: 0
		padding: 0 2rem
		display: flex
		list-style: none
		justify-content: space-around
	li
		background: linear-gradient(to right, transparent 0%, rgb(227, 234, 253) 0.5rem, rgb(227, 234, 253) calc(100% - 0.5rem), transparent 100%)
		flex: 0 1 auto
		line-height: 1.5
		font-size: 0.81rem
		padding: 0 1rem
	a
		color: rgb(0, 47, 6)
		font-weight: bold
	
	li.highlighted-item a
		color: rgb(253, 0, 21)
		
.simple-heading
	margin-bottom: 1rem
	white-space: nowrap
		
#logo-panel
	background: rgb(111, 150, 209)
	min-height: 4rem
	
/**
 * General
 */
.row-no-padding > [class*="col-"]
	padding-left: 0 !important
	padding-right: 0 !important
	
.no-indent {
	padding: 0;
	margin: 0;
}


/**
 * Top panel
 */
.top-panel
	display: flex
	flex-flow: row nowrap
	align-items: stretch
	margin-bottom: 0.2rem

	.top-panel-left
		flex: 0 0 auto
		background: rgb(190, 207, 235)
		border-bottom-left-radius: 1rem
		padding: 0.5rem
		width: 15rem
		
	.top-panel-right
		flex: 1 1 auto
		padding: 0.5rem
		background: rgb(232, 237, 241)
			
/**
 * Login form
 */
.login-form
	padding: 0
	margin: 0
	
	.form-group
		margin-bottom: 0.1rem
		
	label[class*="col-"]
		text-align: right
		font-size: 0.9rem
		padding-right: 0.3rem !important
		
/**
 * Content
 */
.content
	display: flex
	
	.content-left
		background: rgb(232, 237, 241)
		border-top-left-radius: 1rem
		flex: 0 0 auto
		width: 15rem
		padding: 1rem
		
	.content-right
		flex: 1 1 auto
		padding: 1rem 3rem 5rem 3rem
		
	.content-single
		flex: 1 1 auto
		padding: 1rem 0.3rem
		

/**
 * Action panel
 */
.action-panel
	background: linear-gradient(to bottom, rgb(155, 170, 209) 0%, rgb(190, 207, 235) 0.5rem, rgb(190, 207, 235) calc(100% - 0.5rem), rgb(155, 170, 209) 100%)
	margin-bottom: 0.2rem
	
	ul
		margin: 0
		padding: 0 2rem
		display: flex
		flex-flow: row wrap
		list-style: none
		justify-content: space-around
	li
		flex: 0 1 auto
		line-height: 1.5
		font-size: 0.81rem
		padding: 0 1rem
		white-space: nowrap
	a
		color: rgb(0, 47, 6)
		font-weight: bold
			
/**
 * Categories list
 */
.categories-list
	.simple-heading
		text-align: center
		
	ul
		margin: 0
		padding: 0
		list-style: none
		justify-content: space-around
	li
		line-height: 1.4
		font-size: 0.875rem
		padding: 0
	a
		color: rgb(0, 47, 6)

	.cat-amount
		font-size: 0.625rem
		
/**
 * Categories table
 */
.categories-table
	width: 35rem
	margin: 0 auto
	td, th
		line-height: 1.2
		
/**
 * Top clubs
 */
.top-clubs
	li
		margin-bottom: 1rem
		white-space: nowrap

	a
		font-size: 1rem

	.top-info
		color: #364035
		font-size: 0.75rem

	.top-link-all
		padding: 1rem 0
		
/**
 * Sign up
 */
.signup-form
	width: 30rem
	
/**
 * Clubs table
 */
.clubs-table
	font-size: 0.8125rem
	padding-right: 2rem
	
	.table-sm td, .table-sm th
		padding: .2rem .3rem
		
	td, th
		line-height: normal
		
	a
		font-weight: bold
	
	.posts-amount
		text-align: right
		
/**
 * New Post form
 */
.new-post-form
	max-width: 40rem